* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #ffe6f2;
    color: #333;
}

header {
    background: #ffb6d9;
    padding: 15px 50px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(255, 105, 180, 0.3);
}

h2 {
    text-align: center;
    margin: 60px 0 20px;
    font-size: 32px;
}

.card {
    background: white;
    margin: 20px auto;
    padding: 25px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(255, 105, 180, 0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills-grid span {
    background: #ffb6d9;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

.btn, .btn-outline {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
}

.btn {
    background: #ff69b7;
    color: rgb(255, 255, 255);
}

.btn-outline {
    border: 2px solid #ff69b4;
    color: #ff69b4;
}

footer {
    text-align: center;
    padding: 20px;
    background: #ffb6d9;
    color: white;
    margin-top: 50px;
}
